<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daisy Crumble</title>
    <link rel="stylesheet" href="/style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Paytone+One&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <button class="menu-icon dm-serif-display-regular" aria-label="Open menu">☰ <span>Menu</span></button>
            <h1 class="logo orelega-one-regular">daisycrumble</h1>
            <ul class="nav-menu">
                <button class="close-icon" aria-label="Close menu">&times;</button>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/cart">Shop Cart</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero-content">
        <h2 class="hero-text paytone-one-regular">Made with Love,<br>Served with a Smile.</h2>
        <button class="order-button paytone-one-regular" onclick="loadMenuPage()">Head To Menu</button>
    </section>

    <script src="/fungsi/menu.js"></script>
    <script src="/fungsi/button.js"></script>
</body>
</html>

